<header class="site-header">

  <div class="wrapper-header">

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <div>
        <!-- <img class="logo" src="{{ '/assets/images/shoe.png' | relative_url }}" alt="The Red Running Shoes Logo"> -->
        <img class="logo" src="{{ '/assets/red-shoes-running.png' | relative_url }}" alt="The Red Running Shoes Logo" title="Click here to go to Home">
        <!-- <img class="logo" src="{{ '/assets/images/shoe-reversed.png' | relative_url }}" alt="The Red Running Shoes Logo">   -->
      </div>

    </a>

  </div>
</header>
