// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// access columns by the following classes:
// 'date'
// 'wday'
// 'type'
// 'dura'
// 'note'

  td.date {
    width: 5.7rem;
    text-align: center;
  }

  td.wday, td.type, td.dura, td.note {
    text-align: center;
    width: auto;
  }

  table td {
    padding: 8px
  }


  /*
This 'right' value works apparently to center header
  */
  td.s0.softmerge {
    text-align: right;
  }

  span.bullet_post {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-weight: bold;
  }

  ul.posts {
    list-style-type: square
  }

/* Style for images to appear smaller */
.img-small {
  width: 45%; /* or any size you prefer */
  height: auto; /* maintain aspect ratio */
}

/* Style for images to float to the right */
.img-right {
  float: right;
  margin-left: 20px; /* Add some space between the text and the image */
}